.header {

  &__container {
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__section {
    margin: 5px;
  }

}